@import './reset.scss';
@import './mixin.scss';
@import './animations.scss';

html,
body {
  width: 100%;
  height: 100%;
}

.blind {
  position: absolute !important;
  font-size: 0 !important;
  visibility: hidden !important
}

body {
  background-color: #2e2925;

  &.show-layer {
    overflow: hidden;
  }

  .wrap-bg {
    @include backgroundCover('../image/bg.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
  }

  .content {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;

    .top-txt {
      position: relative;
      box-sizing: border-box;
      height: 35px;
      border-bottom: 1px solid #644a37;
      background: url('../image/bg_top_txt.png') 0 0 repeat-x;

      .txt {
        @include spriteImage('../image/spr_top-txt.png', 112px, 126px);
        position: absolute;

        &.left {
          top: 11px;
          left: 12px;
          width: 55px;
          height: 11px;
          background-position: 0 -115px;
        }

        &.center {
          top: 11px;
          left: 50%;
          transform: translateX(-50%);
          width: 89px;
          height: 11px;
          background-position: 0 -100px;
        }

        &.right {
          top: 0;
          right: 0;
          width: 112px;
          height: 78px;
          background-position: 0 0;
        }
      }
    }

    main {
      .title {
        position: relative;
        margin: 75px auto 0;
        width: 335px;
        height: 180px;

        .txt-drop-the {
          @include backgroundCover('../image/txt_drop_the.png');
          position: absolute;
          top: 0px;
          left: 50px;
          width: 220px;
          height: 90px;
          animation-delay: 3s;
          animation-name: neonEffect01;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        .txt-money-outer {
          @include backgroundCover('../image/txt_money_outer.png');
          position: absolute;
          top: 0;
          left: 0;
          width: 335px;
          height: 180px;
          animation-delay: 4s;
          animation-name: neonEffect01;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        .txt-money-inner {
          @include backgroundCover('../image/txt_money_inner.png');
          position: absolute;
          top: 65px;
          left: 110px;
          width: 52px;
          height: 53px;
          animation-delay: 2s;
          animation-name: neonEffectMoneyInner;
          animation-duration: 4s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        .txt-title {
          @include backgroundCover('../image/txt_title_01.png');
          position: absolute;
          top: 110px;
          left: 55px;
          width: 234px;
          height: 45px;
        }

        .effect-fire {
          @include backgroundCover('../image/effect_fire.png');
          position: absolute;
          top: -42px;
          left: 34px;
          width: 80px;
          height: 80px;
          animation-delay: .5s;
          animation-name: fadeIn;
          animation-duration: .5s;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          opacity: 0;
        }
      }

      .img-coin-left-01 {
        @include backgroundCover('../image/coin_left_01.png');
        position: absolute;
        width: 48px;
        height: 127px;

        &.side {
          @include moveVertical(0, 160px);
          top: 0;
          left: 0px;
          animation-duration: .3s;
          animation-fill-mode: forwards;
          transition: top .2s;
        }
      }

      .img-coin-left-02 {
        @include backgroundCover('../image/coin_left_02.png');
        position: absolute;
        width: 39px;
        height: 53px;

        &.side {
          @include moveVertical(0, 299px);
          top: 0;
          left: 55px;
          animation-duration: .3s;
          animation-fill-mode: forwards;
          transition: top .3s;
        }
      }

      .img-coin-left-03 {
        @include backgroundCover('../image/coin_left_03.png');
        position: absolute;
        width: 22px;
        height: 56px;

        &.side {
          @include moveVertical(0, 367px);
          top: 0;
          left: 0px;
          animation-duration: .4s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
          transition: top .3s;
        }
      }

      .img-coin-right-01 {
        @include backgroundCover('../image/coin_right_01.png');
        position: absolute;
        width: 60px;
        height: 83px;

        &.side {
          @include moveVertical(0, 233px);
          top: 0;
          right: 0;
          animation-duration: .3s;
          animation-fill-mode: forwards;
          transition: top .3s;
        }
      }

      .img-coin-right-02 {
        @include backgroundCover('../image/coin_right_02.png');
        position: absolute;
        width: 33px;
        height: 52px;

        &.side {
          @include moveVertical(0, 281px);
          top: 0;
          right: 36px;
          animation-duration: .3s;
          animation-fill-mode: forwards;
          transition: top .3s;
        }
      }

      .img-coin-right-03 {
        @include backgroundCover('../image/coin_right_03.png');
        position: absolute;
        width: 57px;
        height: 94px;

        &.side {
          @include moveVertical(0, 380px);
          top: 0;
          right: 0px;
          animation-duration: .4s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-out;
          transition: top .3s;
        }
      }

      .center-coins {
        @include moveVertical(0, 2000px);
        position: absolute;
        top: 0;
        width: 100%;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        .img-coin-left-02 {
          &.coin-01 {
            transform: scale(2);
            top: 0;
            left: 10%;
          }

          &.coin-04 {
            transform: scale(1.5);
            top: 250px;
            left: 55%;
          }
        }

        .img-coin-right-01 {
          &.coin-02{
            transform: scale(3);
            top: 450px;
            left: 40%;
          }

          &.coin-05 {
            transform: scale(2);
            top: 300px;
            left: 20%;
          }
        }

        .img-coin-right-02 {
          &.coin-03 {
            transform: scale(2.5);
            top: 50px;
            left: 70%;
          }

          &.coin-06 {
            transform: scale(2);
            top: 120px;
            left: 30%;
          }
        }
      }

      .main-img {
        position: relative;
        margin: 0 auto;
        width: 305px;
        height: 182px;

        .money-img-01 {
          @include moveVertical(-5px, 0);
          @include backgroundCover('../image/main_money_01.png');
          position: absolute;
          top: 0px;
          left: 0px;
          width: 305px;
          height: 182px;
          animation-iteration-count: infinite;
          animation-duration: .7s;
        }

        .money-img-02 {
          @include scaleItem(1.1, 1);
          @include backgroundCover('../image/main_money_02.png');
          position: absolute;
          top: 132px;
          left: 85px;
          width: 118px;
          height: 58px;
          animation-iteration-count: infinite;
          animation-duration: .7s;
        }

        .money-img-03 {
          @include rotateItem(-20deg, 0);
          @include backgroundCover('../image/main_money_03.png');
          position: absolute;
          top: 145px;
          left: 30px;
          width: 50px;
          height: 41px;
          animation-iteration-count: infinite;
          animation-duration: .7s;
          transform-origin: left bottom;
        }

        .money-img-04 {
          @include rotateItem(20deg, 0);
          @include backgroundCover('../image/main_money_04.png');
          position: absolute;
          top: 130px;
          left: 210px;
          width: 52px;
          height: 40px;
          animation-iteration-count: infinite;
          animation-duration: .7s;
          transform-origin: right bottom;
        }
      }

      .txt-reword {
        margin: 20px auto 0;
        width: 280px;
        height: 120px;

        img {
          vertical-align: top;
          width: 100%;
          height: 100%;
        }
      }

      .wrap-sns {
        position: relative;
        margin: 30px auto 0;
        width: 350px;
        height: 99px;

        .sns-outer {
          @include backgroundCover('../image/sns_outer.png');
          position: absolute;
          top: 0;
          left: 0;
          width: 350px;
          height: 99px;
          animation-delay: 3s;
          animation-name: neonEffectSnsOuter;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          filter: brightness(.5);
        }

        .sns-inner {
          @include backgroundCover('../image/sns_inner.png');
          position: absolute;
          top: 0;
          left: 0;
          width: 350px;
          height: 99px;

          a {
            position: absolute;
            top: 43px;
            display: inline-block;
            width: 30px;
            height: 30px;

            &.kakaotalk {
              left: 53px;
            }

            &.kakaostory {
              left: 123px;

            }

            &.facebook {
              left: 193px;
            }

            &.twitter {
              left: 266px;
            }
          }
        }
      }

      .coin-bottom {
        margin: 10px auto 0;
        width: 375px;
        height: 92px;

        img {
          vertical-align: top;
          width: 100%;
          height: 100%;
        }
      }

      .btn-register {
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: calc(50% + 5px);
        transform: translateX(-50%);
        width: 367px;
        height: 72px;

        img {
          vertical-align: top;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .wrap-layer {
    display: none;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: #000;

    .top-area {
      @include backgroundCover('../image/bg_top_register.png');
      position: relative;
      width: auto;
      height: 50%;
      animation-duration: .5s;
      animation-name: downTopLayer;
      animation-fill-mode: forwards;
      animation-timing-function: linear;

      .btn-close {
        @include spriteImage('../image/spr_register.png', 400px, 300px);
        position: absolute;
        top: 25px;
        right: 25px;
        display: block;
        width: 30px;
        height: 30px;
        background-position: 0 0;
      }

      .w-img {
        @include spriteImage('../image/spr_register.png', 400px, 300px);
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 100px;
        height: 100px;
        background-position: 0 -30px;
      }

      .txt {
        @include spriteImage('../image/spr_register.png', 400px, 300px);
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 275px;
        height: 100px;
        background-position: -100px -30px;
      }
    }

    .bottom-area {
      @include backgroundCover('../image/bg_bottom_register.png');
      width: auto;
      height: 50%;
      animation-duration: .5s;
      animation-name: upBottomLayer;
      animation-fill-mode: forwards;
      animation-timing-function: linear;

      .txt {
        @include spriteImage('../image/spr_register.png', 400px, 300px);
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 293px;
        height: 155px;
        background-position: 0 -130px;

        .btn-one {
          position: absolute;
          top: 7px;
          right: 10px;
          display: inline-block;
          width: 57px;
          height: 24px;
        }

        .btn-update {
          position: absolute;
          bottom: 11px;
          right: 29px;
          display: inline-block;
          width: 78px;
          height: 22px;
        }
      }
    }

    .wrap-btn-send {
      position: absolute;
      bottom: 0;
      left: calc(50% + 3px);
      transform: translateX(-50%);
      width: 367px;
      height: 74px;

      .btn-send {
        @include moveVertical(100%, 0);
        display: inline-block;
        width: 100%;
        height: 100%;
        animation-duration: .3s;
        animation-fill-mode: forwards;
        animation-timing-function: linear;

        img {
          vertical-align: top;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  &.show-layer {
    .wrap-layer {
      display: block;
    }
  }
}

@media (max-width: 360px) {
  body {
    .content {
      main {
        .title {
          width: 320px;

          .txt-money-outer {
            width: 320px;
          }
        }

        .wrap-sns {
          width: 300px;
          height: 90px;

          .sns-outer {
            width: 300px;
            height: 90px;
            background-size: contain;
          }

          .sns-inner {
            width: 300px;
            height: 90px;
            background-size: contain;
          }
        }

        .btn-register {
          width: 300px;
          height: auto;
        }

        .coin-bottom {
          width: 100%;
          height: auto;
        }
      }
    }

    .wrap-layer {
      .wrap-btn-send {
        width: 300px;
        height: auto;
      }
    }
  }
}