html,
body {
    width: 100%;
    background-color: #2e2925;
}

.blind {
    position: absolute !important;
    font-size: 0 !important;
    visibility: hidden !important
}

body.show-layer {
    overflow: hidden;
}

.wrap-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../image/bg.jpg');
    background-size: cover;
}

.content {
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
}

.top-txt {
    position: relative;
    box-sizing: border-box;
    height: 35px;
    border-bottom: 1px solid #644a37;
    background: url('../image/bg_top_txt.png') 0 0 repeat-x;
}

.top-txt .txt {
    position: absolute;
    background-image: url('../image/spr_top-txt.png');
    background-size: 112px 126px;
}

.top-txt .txt.left {
    top: 11px;
    left: 12px;
    width: 55px;
    height: 11px;
    background-position: 0 -115px;
}

.top-txt .txt.center {
    top: 11px;
    left: 50%;
    transform: translateX(-50%);
    width: 89px;
    height: 11px;
    background-position: 0 -100px;
}

.top-txt .txt.right {
    top: 0;
    right: 0;
    width: 112px;
    height: 78px;
    background-position: 0 0;
}

.title {
    position: relative;
    margin: 75px auto 0;
    width: 335px;
    height: 180px;
}

.txt-drop-the {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 220px;
    height: 90px;
    background-image: url('../image/txt_drop_the.png');
    background-size: cover;
    animation-delay: 3s;
    animation-name: neonEffectDropThe;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    ;
}

@keyframes neonEffectDropThe {
    0% {
        filter: brightness(.7);
    }
    25% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1);
    }
}

.txt-money-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 335px;
    height: 180px;
    background-image: url('../image/txt_money_outer.png');
    background-size: cover;
    animation-delay: 4s;
    animation-name: neonEffectMoneyOuter;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes neonEffectMoneyOuter {
    0% {
        filter: brightness(.7);
    }
    25% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1);
    }
}

.txt-money-inner {
    position: absolute;
    top: 65px;
    left: 110px;
    width: 52px;
    height: 53px;
    background-image: url('../image/txt_money_inner.png');
    background-size: cover;
    animation-delay: 2s;
    animation-name: neonEffectMoneyInner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes neonEffectMoneyInner {
    0% {
        filter: brightness(.7);
    }
    5% {
        filter: brightness(1);
    }
    10% {
        filter: brightness(.7);
    }
    15% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1);
    }
}

.txt-title {
    position: absolute;
    top: 110px;
    left: 55px;
    width: 234px;
    height: 45px;
    background-image: url('../image/txt_title_01.png');
    background-size: cover;
}

.effect-fire {
    position: absolute;
    top: -42px;
    left: 34px;
    width: 80px;
    height: 80px;
    background-image: url('../image/effect_fire.png');
    background-size: cover;
    animation-delay: 2s;
    animation-name: effectFire;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes effectFire {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img-coin-left-01 {
    position: absolute;
    width: 48px;
    height: 127px;
    background-image: url('../image/coin_left_01.png');
    background-size: cover;
}

.img-coin-left-01.side {
    top: 0;
    left: 0px;
    animation-name: moveCoinLeft01;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: top .2s;
}

@keyframes moveCoinLeft01 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(160px);
    }
}

.img-coin-left-02 {
    position: absolute;
    width: 39px;
    height: 53px;
    background-image: url('../image/coin_left_02.png');
    background-size: cover;
}

.img-coin-left-02.side {
    top: 0;
    left: 55px;
    animation-name: moveCoinLeft02;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: top .3s;
}

@keyframes moveCoinLeft02 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(299px);
    }
}

.img-coin-left-03 {
    position: absolute;
    width: 22px;
    height: 56px;
    background-image: url('../image/coin_left_03.png');
    background-size: cover;
}

.img-coin-left-03.side {
    top: 0;
    left: 0px;
    animation-name: moveCoinLeft03;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transition: top .3s;
}

@keyframes moveCoinLeft03 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(367px);
    }
}

.img-coin-right-01 {
    position: absolute;
    width: 60px;
    height: 83px;
    background-image: url('../image/coin_right_01.png');
    background-size: cover;
}

.img-coin-right-01.side {
    top: 0;
    right: 0;
    animation-name: moveCoinRight01;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: top .3s;
}

@keyframes moveCoinRight01 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(233px);
    }
}

.img-coin-right-02 {
    position: absolute;
    width: 33px;
    height: 52px;
    background-image: url('../image/coin_right_02.png');
    background-size: cover;
}

.img-coin-right-02.side {
    top: 0;
    right: 36px;
    animation-name: moveCoinRight02;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: top .3s;
}

@keyframes moveCoinRight02 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(281px);
    }
}

.img-coin-right-03 {
    position: absolute;
    width: 57px;
    height: 94px;
    background-image: url('../image/coin_right_03.png');
    background-size: cover;
}

.img-coin-right-03.side {
    top: 0;
    right: 0px;
    animation-name: moveCoinRight03;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transition: top .3s;
}

@keyframes moveCoinRight03 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(380px);
    }
}

.center-coins {
    position: absolute;
    top: 0;
    width: 100%;
    animation-name: moveCoinCenter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes moveCoinCenter {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(2000px);
    }
}

.center-coins .img-coin-left-02.coin-01 {
    transform: scale(2);
    top: 0;
    left: 10%;
}

.center-coins .img-coin-right-01.coin-02 {
    transform: scale(3);
    top: 450px;
    left: 40%;
}

.center-coins .img-coin-right-02.coin-03 {
    transform: scale(2.5);
    top: 50px;
    left: 70%;
}

.center-coins .img-coin-left-02.coin-04 {
    transform: scale(1.5);
    top: 250px;
    left: 55%;
}

.center-coins .img-coin-right-01.coin-05 {
    transform: scale(2);
    top: 300px;
    left: 20%;
}

.center-coins .img-coin-right-02.coin-06 {
    transform: scale(2);
    top: 120px;
    left: 30%;
}

.main-img {
    position: relative;
    margin: 0 auto;
    width: 305px;
    height: 182px;
}

.main-img .money-img-01 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 305px;
    height: 182px;
    background-image: url('../image/main_money_01.png');
    background-size: cover;
    animation-name: upAndDownMoney;
    animation-iteration-count: infinite;
    animation-duration: .7s;
}

@keyframes upAndDownMoney {
    0% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.main-img .money-img-02 {
    position: absolute;
    top: 132px;
    left: 85px;
    width: 118px;
    height: 58px;
    background-image: url('../image/main_money_02.png');
    background-size: cover;
    animation-name: scaleUpMoney;
    animation-iteration-count: infinite;
    animation-duration: .7s;
}

@keyframes scaleUpMoney {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.main-img .money-img-03 {
    position: absolute;
    top: 145px;
    left: 30px;
    width: 50px;
    height: 41px;
    background-image: url('../image/main_money_03.png');
    background-size: cover;
    animation-name: rotateMoney01;
    animation-iteration-count: infinite;
    animation-duration: .7s;
    transform-origin: left bottom;
}

@keyframes rotateMoney01 {
    0% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}

.main-img .money-img-04 {
    position: absolute;
    top: 130px;
    left: 210px;
    width: 52px;
    height: 40px;
    background-image: url('../image/main_money_04.png');
    background-size: cover;
    animation-name: rotateMoney02;
    animation-iteration-count: infinite;
    animation-duration: .7s;
    transform-origin: right bottom;
}

@keyframes rotateMoney02 {
    0% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }
}

.txt-reword {
    margin: 20px auto 0;
    width: 280px;
    height: 120px;
}

.txt-reword img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.wrap-sns {
    position: relative;
    margin: 30px auto 0;
    width: 350px;
    height: 99px;
}

.wrap-sns .sns-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 99px;
    background-image: url('../image/sns_outer.png');
    background-size: cover;
    animation-delay: 3s;
    animation-name: neonEffectSnsOuter;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: brightness(.5);
}

@keyframes neonEffectSnsOuter {
    0% {
        filter: brightness(1);
    }
    5% {
        filter: brightness(.5);
    }
    10% {
        filter: brightness(1);
    }
    15% {
        filter: brightness(.5);
    }
    20% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1);
    }
}

.wrap-sns .sns-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 99px;
    background-image: url('../image/sns_inner.png');
    background-size: cover;
}

.wrap-sns .sns-inner a {
    position: absolute;
    top: 43px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.wrap-sns .sns-inner .kakaotalk {
    left: 53px;
}

.wrap-sns .sns-inner .kakaostory {
    left: 123px;
}

.wrap-sns .sns-inner .facebook {
    left: 193px;
}

.wrap-sns .sns-inner .twitter {
    left: 266px;
}

.coin-bottom {
    margin: 10px auto 0;
    width: 375px;
    height: 92px;
}

.coin-bottom img {
    vertical-align: top;
    width: 100%;
    height: 100%;
}

.btn-register {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: calc(50% + 5px);
    transform: translateX(-50%);
    width: 367px;
    height: 72px;
}

.btn-register img {
    vertical-align: top;
    width: 100%;
    height: auto;
}

body.show-layer .wrap-layer {
    display: block;
}

.wrap-layer {
    display: none;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.wrap-layer .top-area {
    position: relative;
    width: auto;
    height: 50%;
    background-image: url('../image/bg_top_register.png');
    background-size: cover;
    animation-duration: .5s;
    animation-name: downTopLayer;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes downTopLayer {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(-40%);
    }
    80% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

.wrap-layer .top-area .btn-close {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../image/spr_register.png');
    background-size: 400px 300px;
    background-position: 0 0;
}

.wrap-layer .top-area .w-img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../image/spr_register.png');
    background-size: 400px 300px;
    background-position: 0 -30px;
}

.wrap-layer .top-area .txt {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 275px;
    height: 100px;
    background-image: url('../image/spr_register.png');
    background-size: 400px 300px;
    background-position: -100px -30px;
}

.wrap-layer .bottom-area {
    width: auto;
    height: 50%;
    background-image: url('../image/bg_bottom_register.png');
    background-size: cover;
    animation-duration: .5s;
    animation-name: upBottomLayer;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.wrap-layer .bottom-area .txt {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 293px;
    height: 155px;
    background-image: url('../image/spr_register.png');
    background-size: 400px 300px;
    background-position: 0 -130px;
}

.wrap-layer .bottom-area .txt .btn-one {
    position: absolute;
    top: 7px;
    right: 10px;
    display: inline-block;
    width: 57px;
    height: 24px;
}

.wrap-layer .bottom-area .txt .btn-update {
    position: absolute;
    bottom: 11px;
    right: 29px;
    display: inline-block;
    width: 78px;
    height: 22px;
}

@keyframes upBottomLayer {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0);
    }
    65% {
        transform: translateY(40%);
    }
    80% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

.wrap-layer .wrap-btn-send {
    position: absolute;
    bottom: 0;
    left: calc(50% + 3px);
    transform: translateX(-50%);
    width: 367px;
    height: 74px;
}

.wrap-layer .btn-send {
    display: inline-block;
    width: 100%;
    height: 100%;
    animation-duration: .3s;
    animation-name: upBtnSend;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.wrap-layer .btn-send img {
    vertical-align: top;
    width: 100%;
    height: auto;
}

@keyframes upBtnSend {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 360px) {
    .title {
        width: 320px;
    }
    .txt-money-outer {
        width: 320px;
    }
    .wrap-sns {
        width: 300px;
        height: 90px;
    }
    .wrap-sns .sns-outer {
        width: 300px;
        height: 90px;
        background-size: contain;
    }
    .wrap-sns .sns-inner {
        width: 300px;
        height: 90px;
        background-size: contain;
    }
    .btn-register {
        width: 300px;
        height: auto;
    }
    .coin-bottom {
        width: 100%;
        height: auto;
    }
    .wrap-layer .wrap-btn-send {
        width: 300px;
        height: auto;
    }
}